body {
  margin: 40px;
  text-align: center;
}

.address {
  width: 50vw! important;
  padding: 10px;

}

.submitBtn {
  margin-top: 25px;
  padding: 7px;
}

.submitBtn:hover {
  cursor: pointer;
}

.coords:hover {
  cursor: pointer;
  background-color: yellow;
}

