body {
  margin: 40px;
  text-align: center;
}

.address {
  width: 50vw! important;
  padding: 10px;
}

.submitBtn {
  margin-top: 25px;
  padding: 7px;
}

.submitBtn:hover {
  cursor: pointer;
}

.coords:hover {
  cursor: pointer;
  background-color: yellow;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 75vh; */
  margin: 150px;
}

.header {
  font-weight: 600;
  font-size: 24px;
}

.description {
  font-weight: 300;
  font-size: 24px;
}

#title {
  font-weight: 600;
  font-size: 36px;
}

.red {
  font-weight: 600;
  color:red;
}

.blue {
  font-weight: 600;
  color:rgb(49, 49, 214);
}